button{
    font-family: "Baskervville", serif;
    font-size: 20px;
    border: 0.8px solid grey;
    color: #725A58;
    background-color: transparent;
    padding: 20px 42.5px;
    transition: all 0.3s ease;
    &:hover{
        background-color: black;
        color: white;
    }
    &:visited{
        color:#725A58;
    }
  }
