@use './portfolio';
@use './services.scss';
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Whisper&family=Zen+Kaku+Gothic+Antique:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



@media all and (min-width: 540px) {
    .container{
        width: 420px;
        max-width: 100%;
        margin: auto;
    }
}

@media all and (min-width: 720px) {
    .container{
        width: 720px;
        max-width: 100%;
        margin: auto;
    }
}

@media all and (min-width: 960px) {
    .container{
        width: 960px;
        max-width: 100%;
        margin: auto;
    }
}

body {
    background-color: #F8F6F4;

}

.links1 a{
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    color: #725A58;
}

.links2 a {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    color: #725A58;
}

p {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

h5{
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

button{
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

button{
    font-family: "Baskervville", serif;
    font-size: 20px;
    border: 0.8px solid grey;
    color: #725A58;
    background-color: transparent;
    padding: 20px 42.5px;
    transition: all 0.3s ease;
    &:hover{
        background-color: black;
        color: white;
    }
    &:visited{
        color:#725A58;
    }
  }

  footer{
    width: 100vw;
    height: 532px;
}

.logo-footer{
    width: 125px;
    margin: 30px 0 15px; 
}

.box-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer span {
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #191919;
}

.icons-footer{
    width: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}

.links-footer a{
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #725A58;
    text-decoration: none;
    margin: 5px;
    width: 100px;
}

.links-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-color: #191919;
    border-top: 0.5px solid;
    border-bottom: 0.5px solid;
    margin: 20px 0;
    width: 328px;
    text-align: center;
    padding: 15px;
    justify-content: space-around;
    justify-items: center;
}

.links-footer:visited{
    color: #725A58;
}

.links-footer a:hover{
    text-decoration:underline;
}

.copyright{
    color: #725A58;
    font-size: 18px;
    margin-top: 17px;
}

.insta-footer{
  height: 19px;
}

@media (min-width:960px) {
    footer{
    height: 418px;
    }

    .links-footer{
        width: 1214px;
        display: flex;
        flex-direction: row;
    }
    
}

*{
    box-sizing: border-box;
    margin: 0;
}

#header{
  position: sticky;
  top: 0;
  transition: 0.4s;
}

.container-header{
    background-color: #F8F6F4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 196px;
    transition: 0.4s;
}

.links1{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
}

.logo-header{
    width: 126.19px;
    height: 132px;
    margin: 0 27px;
    transition: 0.4s;
}

.logo-scroll{
  display: none;
  transition: 0.4s;
}

.links2{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    align-items: center;
}

.links1 a{
    text-decoration: none;
    color: #725A58;
    font-size: 20px;
}

.links2 a{
    text-decoration: none;
    color: #725A58;
    font-size: 20px;
}


.vertical-line{
    display: inline-block;
    border-left: 1px solid #E3B6B1;
    margin: 5px 10px;
    height: 20px;
}

.Mobile_Responsive-header{
    display: none;  
}

@media (max-width: 720px) {

  header{
    position: sticky;
    top: 0;  
    z-index: 99999999999999;
  }
    .Mobile_Responsive-header{
        display: block;
    }

    .insta-mob{
      position: absolute;
        margin-left: 100px;
        margin-top: -13px;
        height: 37px;
    }
    
    .container-header{
        display: none;
    }
    .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
      }
      
      .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 62px;
      }
      
      .navbar .menu-items {
        display: flex;
      }
      
      .navbar .nav-container li {
        list-style: none;
      }
      
      .navbar .nav-container a {
        text-decoration: none;
        color: #0e2431;
        font-family: "Zen Kaku Gothic Antique", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.2rem;
        padding: 0.7rem;
      }
      
      .navbar .nav-container a:hover{
          font-weight: bolder;
      }
      
      .nav-container {
        display: block;
        position: relative;
        height: 142px;
        width: 100vw;
        background-color: #F8F6F4;
        transition: 0.4s;
      }
      
      .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }
      
      .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .nav-container .hamburger-lines .line {
        display: block;
        height: 2px;
        width: 100%;
        border-radius: 0px;
        background: #725A58;
      }
      
      .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
      }
      
      .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
      }
      
      .navbar .menu-items {
        padding-top: 120px;
        // box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
        background-color: #F8F6F4;
        height: 100vh;
        width: 100%;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
      }
      
      .navbar .menu-items li {
        margin-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }

      .logo_space{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      
      .logo{
        transition: 0.4s;
      }

      .insta_space{
        display: flex;
       }

      .logo-header {
        width: 95.15px;
        height: 79.16px;
      }
      
      .nav-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-46deg);
      }
      
      .nav-container input[type="checkbox"]:checked ~ .logo{
        display: none;
      }
      
}